*{
    margin:0;
    box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 70px 50px;
  margin: 0 auto;
  background-color: rgb(27, 136, 27);
}
.body{
width: 100%;
height:100%;
font-size: 15px;
z-index: -1;
padding: 60px 15px;
}
.book{
    width: 20em;
    height: 15em;
    margin-top: -4em;
    position: relative;
    transform: perspective(60em) rotateX(58deg) rotateZ(-34deg) skewY(-7deg);
    box-shadow: -1.4em 1.7em .3em -.3em alpha(black,.8),-1.6em 1.8em .9em -.2em alpha(black,.5),.3em 1.9em 1.3em alpha(black,.3);
    border-top-right-radius: .4em;
  }

img{
    margin-top:10px;
    width:220px;
 
}
